

.App {
  background-color: #000 ;
  display: flex;
  position: relative;

}
.sidebar {
  width: 406px; 
  background-color: black; 
  color: white; 
}

.main-content {
  flex-grow: 1;
  background-color: black; 
  color: white; 
}
